.headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  background-color: #2e132c;
}
.header-central-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 605px;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

#white {
  background-color: white;
}

#redbox {
  background-color: #f50d5a;
}

#orangebox {
  background-color: #ff865c;
}

#yellowbox {
  background-color: #ffea5c;
}

#greenbox {
  background-color: #00da76;
}

#bluebox {
  background-color: #0096ce;
}

#violetbox {
  background-color: #800fff;
}

.userProfilePic {
  width: 33px;
  border-radius: 50%;
}

.logo-header {
  width: 40px;
}

.logoflagheader {
  width: 45px;
}

.logoDevsheader {
  width: 159px;
}
